.footer {
    background-color: black;
    color: white;
    padding: 50px 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h3 {
    color: #4CAF50; /* Green color for heading */
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  