.landing-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .landing-dashboard h2 {
    color: #fff;
  }
  
  .landing-dashboard p {
    color: #fff;
  }
  
  .landing-dashboard .page {
    margin-top: 20px;
  }
  .landing-dashboard .chart-container {
 
    padding: 20px;
    border-radius: 10px;
  }
  